*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    height: 200px;
    width: 100%;
    background-image: url(grocery-images/bgimage.jpg);
    background-size: cover;
    background-position: top;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6%;
}
.logo{
    width: 150px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
}
.reg-btn{
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.container{
    
    background: transparent;

}
.container h1{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    background: transparent;
    padding: 0 7%;
    margin: 10px;
    transform: translateY(100%);
    margin-left: 250px;
    margin-bottom: 20px;
}
.search-bar{
    background: #fff;
    width: 40%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 40px;
    transform: translate(0, 10%);
}
.search-bar form{
    background: #fff;
    border-radius: 20px;
    display: block;
    margin: 20px;
    padding: 10px;
}
.search-bar form div, .search-bar form div label{
    background: #fff;
    margin-top: 20px;

}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: #fff;
    
}
.search-bar form button{
    background: #ff536f;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    transform: translate(100%, 90%);

}
.search-bar form button img {
    width: 13px;
    margin-top: 10px;
}

.main1{
    background: powderblue;
    width: 100%;
    height: 130vh;
}
.wrapper{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.deliveries{
    width: 50%;   
}
.subtitle-del{
    font-size: 22px;
    font-weight: 600;
    margin-left: 20%;
    margin-top: -90px;
}
.del{
    font-size: 18px;
    font-weight: 300;
    margin-left: 25%;
}
.deliveries .subtitle a{
    text-decoration: none;
    color: lightcoral;
    font-size: 25px;
    margin-left: 5%;
}
.ourLocations{
    width: 50%;
}
.ourLocations p{
    font-size: 18px;
    font-weight: 300;
    margin: 15px;
}
.ourLocations ul{
    align-items: center;
    display: inline-block;
    list-style-type: none;
    margin: auto 100px;
}
.ourLocations li{
    font-size: 20px;
    margin: 10px;
}
.cta-btn{
    background: url(grocery-images/bg\ image.jfif);
    width: 80%;
    height: 180px;
    margin: 50px 100px;
    padding: 6px;
    border-radius: 20px;
}
.cta-h2{
    font-size: 28px;
    font-weight: 800;
    margin-left: 30%;
    margin-bottom: 20px;

}
.ptags{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    color: #000;
}
.know-btn{
    text-decoration: none;
    margin: 10%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    color: #000;
}
.ourStory{
    padding: 0px 10px;
    align-items: center;
    
}
.subtitle{
    font-size: 22px;
    font-weight: 600;
    margin-left: 20%;
    
}
.storysubtitle {
    font-size: 28px;
    font-weight: 800;
    margin-left: 40%;
    margin-bottom: 20px;
    color: #fff;
}

.ptag{
    font-size: 22px;
    font-weight: 300;
    margin: 10px 10%;
}
.ptag a{
    text-decoration: none;
    color: #000;
}
footer{
        text-align: center;
        margin: 80px 0 20px;
        height: 10px;
        
}
.subtitlesocials, .social-media{
    margin: 10px;
}
footer a{
        text-decoration: none;
        color: #999;
        font-size: 22px;
        margin: 0 10px;
}
footer p{
    font-size: 20px;
    margin: 10px;
}
footer hr{
    width: 60%;
    height: 2px;
    border: 1;
    color: #000;
    margin-left: 20%;
}
/*product section*/
.cart{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
.pcart{
    
    transform: translate(0%, 40%);
}
.pcart a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.prod-container h1{
    margin-left: 30%;
    padding-top: 20px;
}
.veggies{
    width: 100%;
    column-count: 3;
    background: powderblue;
    border-radius: 50px;

}
.prod-subtitle{
    font-size: 40px;
    font-weight: 800;
    color: lightcoral;
    margin-left: 20%;
}
.veggies div img{
    border-radius: 50%;
    height: 150px;
    width: 200px;
    margin: 30px;
}
.veggies p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    transform: translate(20%);

}
.fruits{
    column-count: 3;
    width: 100%;
    background: #ff536f;
    border-radius: 50px;
}
.fruits div img{
    border-radius: 50%;
    height: 150px;
    width: 200px;
    margin: 30px;
}
.fruits p{
    color: #fff;
    transform: translate(20%);
}
.order-btn{
    background: #000;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    transform: translate(-20%, -400%);
}
.delivery-bar{
    width: 60%;
    height: 100%;
    margin: 10% auto;
    padding: 6px;
    border-radius: 30px;
    background: powderblue ;
}
.del-subtitle{
    margin: 35px 50px;
}
.review{
    margin: 10px;
}
.delivery-bar form{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: transparent;

}
.delivery-bar div label{
    font-size: 15px;
    font-weight: 200;
    margin: 5px 40px;

}
.delivery-bar form input{
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    display: block;
    font-size: 15px;
    font-weight: 300;
    width: 95%;
    background: transparent;
}
textarea{
    padding: 8px;
    margin: 30px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 200;
    background: transparent;

}
.submit-btn{
    background: #fff;
    color: #000;
    border-radius: 20px;
    padding: 8px;
    margin-left: 600px;
}

/*-- contact section--*/

.cont-container{
    height: 100vh;
    width: 100%;
    background: powderblue;
}

.cont-wrapper{
    width: 100%;
    height: 450px;
    transform: translate(0, -25%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loc{
    width: 30%;
    height: 90px;
    border-radius: 50px;
}
.call{
    width: 30%;
    height: 90px;
    border-radius: 50px;
}
.email{
    width: 30%;
    height: 90px;
    border-radius: 50px;
}
.cont-links{
    margin-left: 20px;
    padding: 10px;
}
.cont-links li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
}
.cont-links h3{
    margin: 10px;
}
.form{
    margin-top: -20px;
    text-align: center;
}

.order{
    background: lightcoral;
    width:100%;
    height: 100%;
}