*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    height: 200px;
    width: 100%;
    background-image: url(grocery-images/bgimage.jpg);
    background-size: cover;
    background-position: top;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6%;
}
.logo{
    width: 150px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
}
.reg-btn{
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.container{
    
    background: transparent;

}
.container h1{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    background: transparent;
    padding: 0 7%;
    margin: 10px;
    transform: translateY(100%);
    margin-left: 250px;
    margin-bottom: 20px;
}
.search-bar{
    background: #fff;
    width: 40%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 40px;
    transform: translate(0, 10%);
}
.search-bar form{
    background: #fff;
    border-radius: 20px;
    display: block;
    margin: 20px;
    padding: 10px;
}
.search-bar form div, .search-bar form div label{
    background: #fff;
    margin-top: 20px;

}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: #fff;
    
}
.search-bar form button{
    background: #ff536f;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    transform: translate(100%, 90%);

}
.search-bar form button img {
    width: 13px;
    margin-top: 10px;
}

.main1{
    background: powderblue;
    width: 100%;
    height: 130vh;
}
.wrapper{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.cta-btn{
    background: url(grocery-images/bg\ image.jfif);
    width: 80%;
    height: 180px;
    margin: 50px 100px;
    padding: 6px;
    border-radius: 20px;
}
.cta-h2{
    font-size: 28px;
    font-weight: 800;
    margin-left: 30%;
    margin-bottom: 20px;

}
.ptags{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    color: #000;
}
.know-btn{
    text-decoration: none;
    margin: 10%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    color: #000;
}
.ourStory{
    padding: 0px 10px;
    align-items: center;
    
}
.subtitle{
    font-size: 22px;
    font-weight: 600;
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.storysubtitle {
    font-size: 28px;
    font-weight: 800;
    margin-left: 40%;
    margin-bottom: 20px;
    padding: 10px;
    color: #fff;
}

.ptag{
    font-size: 22px;
    font-weight: 300;
    margin: 10px 20%;
}
.ptag a{
    text-decoration: none;
    color: #000;
}
footer{
        text-align: center;
        margin: 80px 0 20px;
        height: 10px;
        
}
.subtitlesocials, .social-media{
    margin: 10px;
}
footer a{
        text-decoration: none;
        color: #999;
        font-size: 22px;
        margin: 0 10px;
}
footer p{
    font-size: 20px;
    margin: 10px;
}
footer hr{
    width: 60%;
    height: 2px;
    border: 1;
    color: #000;
    margin-left: 20%;
}
/*product section*/
.cart{
    width: 60px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
.pcart{
    
    transform: translate(0%, 40%);
}
.pcart a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.prod-container h1{
    margin-left: 30%;
    padding-top: 20px;
}
.veggies{
    width: 100%;
    column-count: 3;
    background: powderblue;
    border-radius: 50px;

}
.prod-subtitle{
    font-size: 40px;
    font-weight: 800;
    color: lightcoral;
    margin-left: 20%;
}
.veggies div img{
    border-radius: 50%;
    height: 150px;
    width: 200px;
    margin: 30px;
}
.veggies p{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    transform: translate(20%);

}
.fruits{
    column-count: 3;
    width: 100%;
    background: #ff536f;
    border-radius: 50px;
}
.fruits div img{
    border-radius: 50%;
    height: 150px;
    width: 200px;
    margin: 30px;
}
.fruits p{
    color: #fff;
    transform: translate(20%);
}
.order-btn{
    background: #000;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    transform: translate(-20%, -400%);
}
.delivery-bar{
    width: 60%;
    height: 100%;
    margin: 10% auto;
    padding: 6px;
    border-radius: 30px;
    background: powderblue ;
}
.del-subtitle{
    margin: 35px 50px;
}
.review{
    margin: 10px;
}
.delivery-bar form{
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: transparent;

}
.delivery-bar div label{
    font-size: 15px;
    font-weight: 200;
    margin: 5px 40px;

}
.delivery-bar form input{
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    display: block;
    font-size: 15px;
    font-weight: 300;
    width: 95%;
    background: transparent;
}
textarea{
    padding: 8px;
    margin: 30px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 200;
    background: transparent;

}
.submit-btn{
    background: #fff;
    color: #000;
    border-radius: 20px;
    padding: 8px;
    margin-left: 600px;
}

/*-- contact section--*/

.cont-container{
    height: 100vh;
    width: 100%;
    background: powderblue;
}

.wrapper{
    width: 100%;
    height: 450px;
    transform: translate(0, 5%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deliveries{
    width: 50%;   
}
.subtitle-del{
    font-size: 22px;
    font-weight: 600;
    margin-left: 20%;
    margin-top: -210px;
}
.del{
    font-size: 18px;
    font-weight: 300;
    margin-left: 25%;
}
.deliveries .subtitle a{
    text-decoration: none;
    color: lightcoral;
    font-size: 25px;
    margin-left: 5%;
}
span{
    margin-top: 20px;
}
.email{
    width: 10%;
    height: 5%;
    border-radius: 50%;
    margin-left: 20%;
}
span h3{
    margin-left: 20%;
}
.ourLocations{
    width: 50%;
}
.ourLocations p{
    font-size: 18px;
    font-weight: 300;
    margin: 15px;
}
.ourLocations h2{
    margin-left: 10%;
}
.ourLocations ul{
    align-items: center;
    display: inline-block;
    list-style-type: none;
    margin: auto 100px;
}
.ourLocations li{
    font-size: 20px;
    margin: 10px;
}
.form{
    margin-top: 50px;
    text-align: center;
}
/*sign up part*/
.sign-main{
    background-color: #ff536f;
    margin-top: -20px;
}
.subtitle-sign{
    padding: 20px;
    margin-left: 20%;
    font-size: 35px;
}
/*.order{

    background: lightcoral;
    width:100%;
    height: 100%;
}*/
.ord-form{
    margin-top: 2%;
    padding: 20px;
    text-align: center;
}
.signUp{
    display:  block;
    background: transparent;
    width: 60%;
    height: 30%;
    margin-left: 10%;
    border: 2px solid black;

}
.signUp input{
    border-radius: 20%;
    margin: 5%;
    padding: 7px;
}
.signUp label{
    margin: 20px;
}
.register-btn{
    margin-left: 70%;
    background: #fff;
    color: #000;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
}
@media only screen and (max-width: 900px){

   /*index section*/
 .logo{
        position: fixed;
        top: 4%;
        left: 7%;
        width: 100px;
        height: 75px;
        border-radius: 60%;
        cursor: pointer;

    }
    .header{
        height: 83px;
        width: 40px;
        background: none;
    }

    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: black;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height 0.5s;

    }
       nav .nav-links li{
           margin: 10px 0;
           display: block;
       }
       
       .reg-btn{
           margin: 15px 0 30px;
           display: inline-block;
       }
  
       nav .fa-bars{
           display: block;
           position: fixed;
           top: 4%;
           right: 7%;
           color: #fff;
           font-size: 25px;
       }
       .active::after{
          left: -15%;
          transform: translateX(0, 50%);
          bottom: 50%;
       }
       .hidemenu{
           max-height: 300px;
           
       }

       .main1{
           height: 850px;
       }
       .cta-btn{
        background: url(grocery-images/bg\ image.jfif);
        width: 90%;
        height: 200px;
        margin: 50px auto;
        padding: 10px;
        border-radius: 20px;
       }
       .ptag{
           padding: 2%;
           font-size: 20px;
           margin: 10px 4%;
       }
      
       .know-btn{
        width: 70%;
        height: 200px;
        text-decoration: none;
        margin: 10%;
        padding: 5px;
        font-size: 20px;
        border-radius: 10px;
        background: #fff;
        color: #000;
       }
       .cta-h2{
        font-size: 20px;
        line-height: 15px;
    }
/*product section*/
        
        .veggies{
            width: 100vw;
            column-count: 2;
            background: powderblue;
            border-radius: 20px;
        }
        .fruits{
            width: 100%;
            column-count: 2;
            background: lightcoral;
            border-radius: 50px;
        }
        .subtitle h1{
            font-size: 10px;
        }
        
        .prod-container h1{
        margin-left: 10%;
        font-size: 28px;
        }
/*contact section*/
        .wrapper{
        width: 100%;
        height: 100%;
        display: block;
        background: powderblue;
        margin-top: auto;
        transform: translate(0, 0%);
        }
        .ourLocations{
            width: 100%;
            padding: 15px;
        }
        .ourLocations h2{
            font-size: 32px;
            margin: 20px;
        }
        .ourLocations p{
            font-size: 20px;
            font-weight: 300;
            margin: 15px;
        }
        .ourLocations ul{
            align-items: center;
            display: inline-block;
            list-style-type: none;
            margin: 20px 30px;
        }
        .ourLocations li{
            font-size: 20px;
            margin: 20px;
        }
        .deliveries{
            width: 100%;
        }
    
        .subtitle-del{
            font-size: 22px;
            font-weight: 600;
            margin-left: 15%;
            margin-top: 15%;
        }
        .del{
            font-size: 18px;
            font-weight: 300;
            margin-left: 18%;
        }
        .deliveries .subtitle a{
            text-decoration: none;
            color: lightcoral;
            font-size: 25px;
            margin-left: 5%;
        }
        span{
            padding: 10px;
            border: 10px;
        }
        .email{
            margin-left: 8%;
        }
        span h3{
            margin-left: 20%;
            margin-top: -7%;
        }

        .form{
            margin-top: 20px;
            text-align: center;
        }
        /*register section*/
  
        .sign-main{
            margin-top: 18px;
            width: 100%;
            height: 100%;     
        }
        .subtitle-sign{
            padding: 20px;
            margin-left: 10%;
            font-size: 25px;
        }
        .ord-form{
            margin-top: 2%;
            padding: 20px;
            text-align: center;
        }
        .signUp{
            display:  block;
            width: 70%;
            height: 30%;
            margin-left: 10%;        
        }
        .signUp input{
            border-radius: 20px;
            margin: 5%;
            padding: 7px;
        }
        .signUp label{
            padding: 20px;
        }
        .register-btn{
            margin-left: 60%;
            font-size: 15px;
            padding: 8px 20px;
            border-radius: 20px;
            text-decoration: none;
        }

        /*order section*/

       .delivery-bar{
           width: 80%;
           margin: 30px auto;
           padding: 20px 10px 30px;
           border-radius: 15px;
       }
       .del-subtitle{
           font-size: 15px;
       }
       .delivery-bar form{
           display: block;
       }
       .-bar form input{
           border-bottom: 1px solid #ddd;
           width: 60%;
           margin-bottom: 20px;
           margin-top: 10px;
           padding-bottom: 18px;
       }
       .search-bar form button{
           position: absolute;
           bottom: 17%;
           left: 50%;
           transform: translate(-50%, 50%);
       }
       .submit-btn{
           margin-left: 250px;
       }
       .subtitle{
           font-size: 28px;
       }
       
       .ourStory{
           font-size: 22px;
       }

}
